<template>
  <div>
    <v-container>
      <v-row>
        <v-col>
          <v-tabs v-model="tabs" @change="tabChangeHandle()">
            <v-tab>Coupon</v-tab>
            <v-tab>Statistic</v-tab>
          </v-tabs>
        </v-col>
      </v-row>

      <!-- coupon -->
      <div v-if="tabs == 0">
        <v-row>
          <v-col align="end">
            <v-btn color="primary" @click="newSetHandle()">new set</v-btn>
          </v-col>
        </v-row>
        <v-row v-if="results != null">
          <v-col>
            <v-data-table
              :headers="couponHeader"
              :items="results"
              @click:row="setRowClickHandle"
            >
              <template v-slot:item.btn="{ item }">
                <v-btn color="primary" @click="printSetHandle(item)">
                  print
                </v-btn>
              </template>
            </v-data-table>
          </v-col>
        </v-row>
      </div>

      <!-- statistic -->
      <div v-if="tabs == 1">
        <v-row align="center">
          <!-- <v-col>
            วันเริ่มต้น
            <v-menu
              v-model="menu"
              :close-on-content-click="false"
              :nudge-right="40"
              transition="scale-transition"
              offset-y
              min-width="auto"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                  v-model="startdate"
                  prepend-inner-icon="mdi-calendar"
                  readonly
                  outlined
                  dense
                  v-bind="attrs"
                  v-on="on"
                  @click="startdateChangeHandle"
                ></v-text-field>
              </template>
              <v-date-picker
                v-model="startdate"
                @input="menu = false"
              ></v-date-picker>
            </v-menu>
          </v-col>
          <v-col>
            วันสิ้นสุด
            <v-menu
              v-model="menu2"
              :close-on-content-click="false"
              :nudge-right="40"
              transition="scale-transition"
              offset-y
              min-width="auto"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                  v-model="enddate"
                  prepend-inner-icon="mdi-calendar"
                  readonly
                  outlined
                  dense
                  v-bind="attrs"
                  v-on="on"
                  :disabled="startdate == null"
                ></v-text-field>
              </template>
              <v-date-picker
                v-model="enddate"
                @input="menu2 = false"
                :min="startdate"
              ></v-date-picker>
            </v-menu>
          </v-col>
          <v-col cols="2">
            <v-btn color="primary" block @click="fetchStatistic"> ค้นหา </v-btn>
          </v-col> -->
        </v-row>
        <v-row v-if="statResults != null">
          <v-col>
            <v-data-table
              :headers="statHeader"
              :items="statResults"
              @click:row="statRowClickHandle"
            >
            </v-data-table>
          </v-col>
        </v-row>
      </div>
    </v-container>

    <v-dialog v-model="newSetDialog" max-width="600" persistent>
      <v-card class="py-7">
        <v-container>
          <v-form ref="formRef" v-model="formValid">
            <v-row>
              <v-col>
                จำนวนคูปองในชุด
                <v-text-field
                  v-model="newSetForm.amount"
                  outlined
                  dense
                  placeholder="จำนวน"
                  type="number"
                  hide-spin-buttons
                  :rules="decimalRules"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                หมายเหตุ
                <v-text-field
                  v-model="newSetForm.remark"
                  outlined
                  dense
                  placeholder="หมายเหตุ"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-form>
          <v-row class="d-flex" justify="center">
            <div>
              <v-btn
                color="primary"
                @click="submitNewSetHandle()"
                :disabled="!formValid"
              >
                ยืนยัน
              </v-btn>
            </div>
            <div class="px-4"></div>
            <div>
              <v-btn
                color="red lighten-1"
                class="white--text"
                @click="newSetDialogClose()"
              >
                ยกเลิก
              </v-btn>
            </div>
          </v-row>
        </v-container>
      </v-card>
    </v-dialog>

    <v-dialog v-model="setDialog" max-width="600">
      <v-card>
        <v-container>
          <v-row v-if="setResults != null">
            <v-col>
              <v-data-table :headers="setHeader" :items="setResults">
              </v-data-table>
            </v-col>
          </v-row>
        </v-container>
      </v-card>
    </v-dialog>

    <v-dialog v-model="statDialog" max-width="600">
      <v-card class="py-5">
        <v-container>
          <v-row v-if="statDetail != null">
            <v-col>
              <v-data-table :headers="statDetailHeader" :items="statDetail">
              </v-data-table>
            </v-col>
          </v-row>
        </v-container>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  data() {
    return {
      tabs: 0,
      results: null,
      setResults: null,
      statResults: null,
      statDetail: null,
      // statResults: [{ mid: "01", amount: 4 }],
      // statDetail: [
      //   { date: "2022-01-06 16:04:49", type: "promtpay" },
      //   { date: "2022-01-06 16:12:03", type: "coupon" },
      //   { date: "2022-01-06 16:44:52", type: "coupon" },
      //   { date: "2022-01-06 17:15:20", type: "coupon" },
      // ],
      couponHeader: [
        { text: "ชุด", value: "set_id" },
        { text: "วันที่สร้าง", value: "date_create" },
        { text: "คูปองที่ใช้", value: "used" },
        { text: "คูปองทั้งหมด", value: "total" },
        { text: "", value: "btn" },
        { text: "หมายเหตุ", value: "remark" },
      ],
      statHeader: [
        { text: "เครื่อง", value: "machine_id" },
        { text: "จำนวน", value: "amount" },
      ],
      setHeader: [
        { text: "code", value: "barcode" },
        { text: "วันที่ใช้", value: "date_use" },
        { text: "เครื่อง", value: "machine_id" },
      ],
      statDetailHeader: [
        { text: "วันที่", value: "date_use" },
        { text: "การจ่ายเงิน", value: "type" },
      ],
      startdate: null,
      menu: false,
      enddate: null,
      menu2: false,
      newSetDialog: false,
      setDialog: false,
      statDialog: false,
      newSetForm: {
        amount: null,
        remark: null,
      },
      formValid: false,
      decimalRules: [
        (v) => !!v || "กรุณากรอกข้อมูลให้ครบถ้วน",
        (v) => /^\d*\.?\d*$/.test(v) || "กรอกข้อมูลเป็นตัวเลขเท่านั้น",
      ],
    };
  },
  methods: {
    fetchData() {
      this.$axios
        .get(`/barcode/set`)
        .then((response) => {
          if (response.data.success == "success") {
            this.results = response.data.message;
          } else {
            alert(
              response.data.message_th ||
                "เกิดปัญหาบางอย่าง กรุณาตรวจสอบอีกครั้ง หรือ ติดต่อผู้ดูแลระบบ"
            );
          }
        })
        .catch((error) => {
          console.log(error.response);
        });
    },
    fetchSetDetail(id) {
      this.$axios
        .get(`/barcode/qr/${id}`)
        .then((response) => {
          if (response.data.success == "success") {
            this.setResults = response.data.message;
          } else {
            alert(
              response.data.message_th ||
                "เกิดปัญหาบางอย่าง กรุณาตรวจสอบอีกครั้ง หรือ ติดต่อผู้ดูแลระบบ"
            );
          }
        })
        .catch((error) => {
          console.log(error.response);
        });
    },
    fetchStatistic() {
      this.$axios
        .get(`/statistic`)
        .then((response) => {
          if (response.data.success == "success") {
            this.statResults = response.data.message;
          } else {
            alert(
              response.data.message_th ||
                "เกิดปัญหาบางอย่าง กรุณาตรวจสอบอีกครั้ง หรือ ติดต่อผู้ดูแลระบบ"
            );
          }
        })
        .catch((error) => {
          console.log(error.response);
        });
    },
    fetchStatisticDetail(mid) {
      this.$axios
        .get(`/statistic/${mid}`)
        .then((response) => {
          if (response.data.success == "success") {
            this.statDetail = response.data.message;
          } else {
            alert(
              response.data.message_th ||
                "เกิดปัญหาบางอย่าง กรุณาตรวจสอบอีกครั้ง หรือ ติดต่อผู้ดูแลระบบ"
            );
          }
        })
        .catch((error) => {
          console.log(error.response);
        });
    },
    tabChangeHandle() {
      // if (this.tabs == 0) {
      //   this.fetchData();
      // } else if (this.tabs == 1) {
      //   this.fetchStatistic();
      // }
      //
    },
    newSetHandle() {
      this.newSetDialog = true;
    },
    submitNewSetHandle() {
      // { amount: this.newSetCouponAmount }
      this.$axios
        .post(`/barcode/create`, this.newSetForm)
        .then((response) => {
          if (response.data.success == "success") {
            this.newSetDialogClose();
          } else {
            alert(
              response.data.message_th ||
                "เกิดปัญหาบางอย่าง กรุณาตรวจสอบอีกครั้ง หรือ ติดต่อผู้ดูแลระบบ"
            );
          }
        })
        .catch((error) => {
          console.log(error.response);
        });
    },
    setRowClickHandle(item) {
      this.fetchSetDetail(item.set_id);
      this.setDialog = true;
    },
    statRowClickHandle(item) {
      this.fetchStatisticDetail(item.machine_id);
      this.statDialog = true;
    },
    startdateChangeHandle() {
      this.enddate = null;
    },
    printSetHandle(item) {
      // get url
      window.open(`https://fotomachine.co/admin/qr/${item.set_id}`);
      setTimeout(() => {
        this.setDialog = false;
      }, 200);
    },
    newSetDialogClose() {
      this.newSetDialog = false;
      this.newSetCouponAmount = null;
    },
  },
  beforeMount() {
    if (this.$cookies.get("token")) {
      this.$axios.setHeader("Authorization", this.$cookies.get("token"));
      this.fetchData();
      this.fetchStatistic();
    } else {
      this.$router.push("/login");
    }
  },
};
</script>