.pointer {
  cursor: pointer;
}

.font-26 {
  font-size: 26px;
}

.font-24 {
  font-size: 24px;
}

.font-22 {
  font-size: 22px;
}

.font-20 {
  font-size: 20px;
}

.font-18 {
  font-size: 18px;
}

.font-14 {
  font-size: 14px;
}

.font-12 {
  font-size: 12px;
}

a {
  text-decoration: none;
}
