<template>
  <div class="print">
    <v-container v-if="qrlist != null">
      <v-row>
        <v-col cols="2" v-for="(item, index) in qrlist" :key="index">
          <v-img
            :src="`https://api.qrserver.com/v1/create-qr-code/?size=${size}${size}&data=${item.barcode}`"
          ></v-img>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<style scoped>
.print {
  -webkit-print-color-adjust: exact !important;
}
</style>

<script>
export default {
  data() {
    return {
      size: 140,
      qrlist: null,
    };
  },
  methods: {
    fetchData(id) {
      this.$axios
        .get(`/barcode/qr/${id}`)
        .then((response) => {
          if (response.data.success == "success") {
            this.qrlist = response.data.message;
          } else {
            alert(
              response.data.message_th ||
                "เกิดปัญหาบางอย่าง กรุณาตรวจสอบอีกครั้ง หรือ ติดต่อผู้ดูแลระบบ"
            );
          }
        })
        .catch((error) => {
          console.log(error.response);
        });
    },
  },
  beforeMount() {
    this.fetchData(this.$route.params.set);
  },
};
</script>