<template>
  <div></div>
</template>

<script>
export default {
  beforeMount() {
    if (!this.$cookies.get("token")) {
      this.$router.push("/login");
    } else {
      this.$router.push("/admin");
    }
  },
};
</script>