<template>
  <div>
    <v-container class="py-6 my-15">
      <v-row justify="center">
        <h2>FOTOMACHINE</h2>
      </v-row>
      <v-row justify="center">
        <v-col cols="5">
          <v-text-field
            v-model="form.email"
            placeholder="email"
            outlined
            dense
          ></v-text-field>
        </v-col>
      </v-row>

      <v-row justify="center">
        <v-col cols="5">
          <v-text-field
            v-model="form.password"
            placeholder="password"
            outlined
            dense
            type="password"
            @keydown.enter="login()"
          >
          </v-text-field>
        </v-col>
      </v-row>

      <v-row justify="center">
        <v-btn color="primary" @click="login()"> login </v-btn>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
  data() {
    return {
      form: {
        email: "",
        password: "",
      },
    };
  },
  methods: {
    login() {
      // login
      this.$axios
        .post(`/login`, this.form)
        .then((response) => {
          if (response.data.success == "success") {
            console.log(this.form);
            this.$cookies.set("token", response.data.message.token);
            this.$router.push("/admin");
          } else {
            alert(
              response.data.message_th ||
                "เกิดปัญหาบางอย่าง กรุณาตรวจสอบอีกครั้ง หรือ ติดต่อผู้ดูแลระบบ"
            );
          }
        })
        .catch((error) => {
          console.log(error.response);
        });
    },
  },
};
</script>
